<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LegacySavePath" value="..\LocalLow\Rain\Teslagrad" />
    <add key="CloudSavePath" value="userdata" />
    <add key="SplitHotkey" value="NUMPAD1" />
    <add key="ResetEvents" value="scenesOnMap: AQ==" />
    <add key="MapHotkey" value="TAB" />
    <add key="EbhHotkey" value="ADD" />
    <add key="ItemAnimationSkipGlove" value="False" />
    <add key="ItemAnimationSkipBoots" value="False" />
    <add key="ItemAnimationSkipCloak" value="False" />
    <add key="ItemAnimationSkipStaff" value="False" />
    <add key="SplitList" value="[Basic Splits]glove: 1,blink: 1,suit: 1,DefeatedBoss,staff: 1[Deluxe Splits]sceneIndex: 8,glove: 1,sceneIndex: 15,sceneIndex: 17,sceneIndex: 18,sceneIndex: 19,sceneIndex: 21,sceneIndex: 20,DefeatedBoss,blink: 1,sceneIndex: 80,sceneIndex: 35,sceneIndex: 36,suit: 1,sceneIndex: 47,sceneIndex: 52,sceneIndex: 62,sceneIndex: 57,sceneIndex: 58,DefeatedBoss,sceneIndex: 98,sceneIndex: 69,sceneIndex: 70,sceneIndex: 112,Scene: 112 CheckPoint: 0,staff: 1,DefeatedBoss,sceneIndex: 91,sceneIndex: 87,sceneIndex: 93,sceneIndex: 94" />
    <add key="SelectedSplitsIndex" value="0" />
  </appSettings>
</configuration>
<!--
SplitHotkey is the button press this program will send upon detecting a split.
 The list of valid key codes is:
 LBUTTON RBUTTON CANCEL MBUTTON XBUTTON1 XBUTTON2 BACK TAB CLEAR RETURN 
 SHIFT CONTROL MENU PAUSE CAPITAL KANA HANGEUL HANGUL JUNJA FINAL HANJA 
 KANJI ESCAPE CONVERT NONCONVERT ACCEPT MODECHANGE SPACE PRIOR NEXT END 
 HOME LEFT UP RIGHT DOWN SELECT PRINT EXECUTE SNAPSHOT INSERT DELETE HELP 
 VK_0 VK_1 VK_2 VK_3 VK_4 VK_5 VK_6 VK_7 VK_8 VK_9 VK_A VK_B VK_C VK_D 
 VK_E VK_F VK_G VK_H VK_I VK_J VK_K VK_L VK_M VK_N VK_O VK_P VK_Q VK_R 
 VK_S VK_T VK_U VK_V VK_W VK_X VK_Y VK_Z LWIN RWIN APPS SLEEP NUMPAD0 
 NUMPAD1 NUMPAD2 NUMPAD3 NUMPAD4 NUMPAD5 NUMPAD6 NUMPAD7 NUMPAD8 NUMPAD9 
 MULTIPLY ADD SEPARATOR SUBTRACT DECIMAL DIVIDE F1 F2 F3 F4 F5 F6 F7 F8 
 F9 F10 F11 F12 F13 F14 F15 F16 F17 F18 F19 F20 F21 F22 F23 F24 NUMLOCK 
 SCROLL LSHIFT RSHIFT LCONTROL RCONTROL LMENU RMENU BROWSER_BACK 
 BROWSER_FORWARD BROWSER_REFRESH BROWSER_STOP BROWSER_SEARCH 
 BROWSER_FAVORITES BROWSER_HOME VOLUME_MUTE VOLUME_DOWN VOLUME_UP 
 MEDIA_NEXT_TRACK MEDIA_PREV_TRACK MEDIA_STOP MEDIA_PLAY_PAUSE 
 LAUNCH_MAIL LAUNCH_MEDIA_SELECT LAUNCH_APP1 LAUNCH_APP2 OEM_1 OEM_PLUS 
 OEM_COMMA OEM_MINUS OEM_PERIOD OEM_2 OEM_3 OEM_4 OEM_5 OEM_6 OEM_7 OEM_8 
 OEM_102 PROCESSKEY PACKET ATTN CRSEL EXSEL EREOF PLAY ZOOM NONAME PA1 
 OEM_CLEAR 
 
 EbhHotkey is the button that you use for EBH (Extended Blink Hitbox) inside Teslagrad (if you play with a gamepad you can map it to keyboard with JoyToKey for exemple). It is used for a special "Ende" event if you want to use it.
  The list of valid key codes is the same as for SplitHotkey, except for Alphabetic keys [A-Z] wich are simply [A-Z].
  For exemple if I want to map the EbhHotkey to keyboard key A, I will replace this "<add key="EbhHotkey" value="whatever" />" to "<add key="EbhHotkey" value="A" />" 
-->